@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

html {
  font-family: 'Noto Sans JP', sans-serif;
  /* background: url() no-repeat center center fixed;  */
  
}

body {
  margin: 0;
  background-color: #3f3f3f;
  background: url("../src/assets/create-food-website.jpg") no-repeat center center fixed;
  background-size: cover;
  height: 100%;
  overflow: scroll;
}

